@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.topo span {
    background-color: aliceblue;
    color: #75B79E;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #000;
}

.cartas {
    background-color: blue;
    width: 80%;
    height: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carta {
    background-color: azure;
    width: 117px;
    height: 146px;
}

@media (max-width: 400px) {
    .topo {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .conteudo {
        flex-direction: column;
    }
}